.about-bkgd {
    margin: 40px 0;
    padding: 40px 0;
    background: url(../assets/Shape21X.png);
    background-repeat: no-repeat;
    // background-position: right;
    // background-size: cover;
}

.about-container {
    display: flex;
    align-items: center;
    padding: 15px;
    min-height: 90vh;
    img {
        padding: 20px;
        width: 40vw;
        height: 40vw;
        border-radius: 12% 0% 0% 42% / 29% 10% 10% 86% ;
        margin-right: 30px;
    }
    div {
        padding-top: 20px;
    }
}