.about-bkgd {
    margin: 40px 0;
    padding: 40px 0;
    background: url(../assets/Shape21Xb.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    img {
        margin-right: 50px;
        width: 550px;
        height: 550px;
        border-radius: 10% 10% 49% 10% / 0% 29% 54% 0% ;
    }
    div {
        text-align: justify;
        p {
            padding-bottom: 20px;
        }
    }
}

.content-box {
    border: 2px solid $main;
    padding: 50px;
    border-radius: 20px;
    background-color: rgba($color: white, $alpha: 0.7);
    box-shadow: 10px 10px rgba($color: $main, $alpha: 0.5);
}

.btn {
    text-align: center;
    display: inline-block;
    background-color: rgba($color: $main, $alpha: 0.9);
    padding: 3px 15px;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    border: 3px solid rgba($color: $main, $alpha: 0.9);
}

.btn:visited {
    color: white;
}

.btn:focus {
    outline: 1px dashed $main;
}

.btn:hover {
    background-color: rgba($color: $main, $alpha: 1);
    transition: 0.5s;
    border-color: black;
}