.contact-bkgd {
    margin: 40px 0;
    padding: 40px 0;
    background: url(../assets/bg1X8.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    img {
        width: 300px;
    }
    div h3 {
        padding-top: 30px;
    }
}

form {
    display: flex;
    flex-direction: column;
}

.social-links {
    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-template-rows: 12rem 12rem;
    align-items: center;
    justify-items: center;
}

.links-circle {
    border-radius: 50%;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba($color: $main, $alpha: 0.5);
    width: 9rem;
    height: 9rem;
    box-shadow: 2px 2px 5px black;
}

.links-circle:hover{
    background-color: rgba($color: $main, $alpha: 1);
    transform: scale(1.1);
    transition: 0.5s;
}

.contact-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.form-container {
    width: 60%;
    margin: 0 30px;
    p {
        padding-bottom: 25px;
    }
    p:first-of-type {
        text-align: center;
        font-weight: bold;
    }
    span {
        font-weight: bold;
        border-bottom: 1px dashed black;
    }
}

form {
    color: $main;
}


input[type=text],
input[type=email],
textarea {
    padding: 10px;
    caret-color: rgba($color: $main, $alpha: 0.6);
    margin-bottom: 10px;
    border: 0.7px solid $main;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    outline: none;
    background-color: rgba($color: $main, $alpha: 0.2);
}

.contact-container {
    display: flex;
    background: url(../assets/heading@1X.png);
    background-repeat: no-repeat;
    a:focus {
        outline: 1px dashed $main;
    }
}
