.contact-bkgd {
    min-height: 100vh;
    background: url(../assets/bg1X8.png);
    background-repeat: no-repeat;
    background-position: right;
    img {
        width: 30%;
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.links-circle {
    border-radius: 50%;
    background-color: white;
    // position: absolute;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba($color: $main, $alpha: 0.5);
}

.links-circle:hover{
    background-color: rgba($color: $main, $alpha: 1);
}

.twitter-circle {
    width: 9rem;
    height: 9rem;
    top: 500px;
    left: 33%;
}

.github-circle {
    width: 11rem;
    height: 11rem;
    top: 300px;
    left: 70%;
}

.linkedIn-circle {
    width: 12rem;
    height: 12rem;
    top: 210px;
    left: 20%;
}
