.contact-bkgd {
    min-height: 100vh;
    background: url(../assets/bg1X8.png);
    background-repeat: no-repeat;
    background-position: right;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

