body {
    font-size: 2rem;
    font-family: $body;
    letter-spacing: 1px;
    line-height: 30px;
}

h1,
h3,
h4 {
    font-family: $heading;
    letter-spacing: 1.5px;
}

h3 {
    margin-bottom: 50px;
    border-bottom: 2px solid black;
}
