html {
    background: url(../assets/139991X3.png);
}

body {
    font-size: 2rem;
    font-family: $body;
    letter-spacing: 1px;
}

h1,
h3,
h4 {
    font-family: $heading;
    letter-spacing: 1.5px;
}

h3 {
    margin-bottom: 50px;
    padding-top: 60px;
    border-bottom: 2px solid black;
}
