header {
    text-align: center;
    background: url(../assets/bg1X2b.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.mobile-only {
    display: none;
}

.header-align {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.header-nav {
    margin-top: 0;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    font-family: $heading;
    font-weight: 700;
    padding-right: 10%;
    background-color: rgba($color: $main, $alpha: 0.8);
    li {
        margin-left: 20px;
        letter-spacing: 1.5px;
    }
    li:hover {
        border-bottom: 2px solid black;
        padding-top: 8px;
    }
    li a:focus {
        outline: none;
        color: white;
    }
}

h1 {
    font-size: 7rem;
    color: white;
    line-height: 0;
}

h2 {
    letter-spacing: 2px;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 4rem;
    font-weight: 700;
    color: white;
}

.header-avatar {
    margin: 0 auto;
    opacity: 0.9;
    width: 250px;
    border-radius: 50%;
    border: 10px outset $main;
}

.down-btn {
    font-size: 10rem;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    opacity: 0.7;
    border: none;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.down-btn:hover {
    opacity: 0.9;
    animation: pulse 0.5s infinite;
}

.down-btn:focus {
    outline: 1px dashed $main;
}

@keyframes pulse {
    0% {
        transform: translate(0, 0); 
    }
    50% {
        transform: translate(0, 10px); 
    }
    100% {
        transform: translate(0, 0); 
    } 
}