header {
    text-align: center;
    background: url(../assets/bg1X2b.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    position: relative;
}

.header-align {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.header-nav {
    margin-top: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 50px;
    font-weight: 700;
    background-color: rgba($color: $main, $alpha: 0.8);
}

.logo {
    color: rgba($color: white, $alpha: 0.8);
    letter-spacing: 3px;
}

.nav-links {
    font-family: $heading;
    display: flex;
    align-items: center;
    li {
        margin-left: 20px;
        letter-spacing: 1.5px;
    }
    li:hover {
        border-bottom: 2px solid black;
        padding-top: 8px;
    }
    li a:focus {
        outline: none;
        color: white;
    }
}

.mobile-menu {
    display: none;
}

.mobile-menu div {
        width: 25px;
        height: 3px;
        margin: 5px 0;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

h1 {
    padding-top: 40px;
    font-size: 7rem;
    color: white;
    line-height: 0;
    text-shadow: 5px 5px 5px black;
}

h2 {
    letter-spacing: 2px;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    text-shadow: 3px 3px 5px $main;
    padding-bottom: 10px;
}

.header-avatar {
    margin: 0 auto;
    opacity: 0.9;
    width: 250px;
    border-radius: 50%;
    border: 10px outset $main;
}

.down-btn {
    font-size: 10rem;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    opacity: 0.7;
    border: none;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.down-btn:hover {
    opacity: 0.9;
    animation: pulse 0.5s infinite;
}

.down-btn:focus {
    outline: 1px dashed $main;
}

@keyframes pulse {
    0% {
        transform: translate(0, 0); 
    }
    50% {
        transform: translate(0, 10px); 
    }
    100% {
        transform: translate(0, 0); 
    } 
}