.projects-bkgd {
    min-height: 90vh;
    // background: url(../assets/imagebg1X.jpg);
    // background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects-flex {
    display: flex;
    img {
        width: 50%;
    }
}