/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    .about-container,
    .projects-flex:nth-of-type(even) {
        flex-direction: column;
    }

    .about-container img {
        width: 60vw;
        height: 60vw;
        margin-bottom: 30px;
    }

    .projects-flex:nth-of-type(odd) {
        flex-direction: column-reverse;
    }
    .projects-flex img {
        width: 100%;
    }
    .projects-flex span {
        text-align: center;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    h1 {
        line-height: 65px;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
        label {
            font-size: 4rem;
            position: fixed;
            color: $main;
            top: 20px;
            right: 20px;
        }

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]:checked + .mobile-nav {
            right: 0;
            top: 65px;
        }
        z-index: 9999;
    }

    .mobile-nav {
        background-color: rgba($color: $main, $alpha: 0.9);
        position: fixed;
        right: -50%;
        width: 50%;
        top: 65px;
        transition: 0.2s;
        a {
            font-family: $heading;
            padding: 20px;
            display: inline-block;
            border-bottom: 1px solid $main;
            width: 100%;
            text-align: center;
            color: white;
        }
        a:visited {
            color: white;
        }
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-flex{
        flex-direction: row;
    }

    .contact-flex,
    .form-container {
        width: 100%;
    }

    .content-box {
        padding: 10px 5px;
        text-align: left;
    }

    .form-container {
        margin: 0 auto;
        p:nth-of-type(3) {
            text-align: center;
        }
    }
    
}

/* Landscape phones and down */
@media (max-width: 550px) {

    .header-avatar {
        display: none;
    }

    .skills-container {
        grid-template-columns: 50% 50%;
        li {
            margin-bottom: 35px;
        }
        li p {
            padding-top: 5px;
        }
    }

    .projects-bkgd div h3 {
        padding-top: 0;
    }

    .projects-flex {
        margin: 30px 5px;
    }

    .contact-flex {
        flex-direction: column;
    }

}