/* Portrait tablet and small desktops */
@media (max-width: 990px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    .btn:hover {
        background-color: $main;
        border-color:$main;
        outline: none;
    }

    .links-circle:hover{
        background-color: rgba($color: $main, $alpha: 1);
        transform: scale(1);
    }

    .about-container,
    .projects-flex:nth-of-type(even) {
        flex-direction: column;
    }

    .about-container img {
        width: 60vw;
        height: 60vw;
        margin: 0 auto 30px;
    }

    .projects-flex:nth-of-type(odd) {
        flex-direction: column-reverse;
    }
    .projects-flex img {
        width: 100%;
    }
    .projects-flex span {
        text-align: center;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    h1 {
        line-height: 65px;
    }

    .header-nav {
        justify-content: space-between;
    }

    .logo {
        padding-left: 30px;
    }

    .mobile-menu {
        display: block;
        z-index: 10;
        padding-right: 30px;
    }

    .nav-links {
        background-color: rgba($color: $main, $alpha: 0.9);
        position: fixed;
        transform: translateX(100%);
        width: 100%;
        height: 100%;
        top: 0;
        transition: transform 0.3s ease-in;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li {
            margin: 20px 0;
            width: 100%;
            color: white;
            text-shadow: 1px 1px 1px black;
            font-size: 2.5rem;
        }
        li:hover{
            border-bottom: none;
            padding: 0;
        }
    }

    .nav-open {
        transform: translateX(0%);
    }

    .mobile-menu {
        transition: all 3s ease-in;
    }

    .close .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .close .line2 {
        opacity: 0;
    }

    .close .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .skills-container {
        grid-template-columns: repeat(3, 1fr);
        li {
            margin: 20px 0;
            transform: scale(0.9);
        }
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-flex{
        flex-direction: row;
    }

    .contact-flex,
    .form-container {
        width: 100%;
    }

    .content-box {
        padding: 10px;
        text-align: left;
    }

    .form-container {
        margin: 0 auto;
        p:nth-of-type(3) {
            text-align: center;
        }
    }
    
}

/* Landscape phones and down */
@media (max-width: 550px) {

    .header-avatar {
        width: 200px;
    }

    .about-container img {
        width: 80vw;
        height: 80vw;
    }

    .projects-flex {
        margin: 30px 5px;
    }

    .contact-bkgd img {
        width: 50%;
    }

    .social-links{
        grid-template-columns: 50% 50%;
        width: 50%;
    }

    .links-circle {
        width: 7.5rem;
        height: 7.5rem;
    }

}