h4 {
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.skills-bkgd {
    background: url(../assets/bg1X2.png);
    margin: 40px 0;
    padding: 40px 0;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
}

.skills-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    text-align: center;
    justify-content: center;
    min-height: 70vh;
    li {
        animation: shake 0.7s linear;
        animation-play-state: paused;
    }
    li:hover {
        animation-play-state: running;
    }
    li i,
    li .iconify {
        font-size: 5rem;
    }
    li p {
        padding-top: 15px;
    }
}


@keyframes shake {
    10%, 90% {
    transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(1px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(3px, 0, 0);
    }
}