html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  scrollbar-color: rgba(102, 74, 203, 0.8) rgba(102, 74, 203, 0.5);
}

html ::-webkit-scrollbar {
  width: 15px;
}

html ::-webkit-scrollbar-track {
  background: rgba(102, 74, 203, 0.5);
}

html ::-webkit-scrollbar-thumb {
  background: rgba(102, 74, 203, 0.8);
  border-radius: 5px;
}

html ::-webkit-scrollbar-thumb:hover {
  background: #664acb;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
}

h1,
h3,
h4 {
  font-family: "Bungee", cursive;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 3rem;
  margin-bottom: 50px;
  border-bottom: 2px solid black;
}

header {
  text-align: center;
  background: url(../assets/bg1X2b.png);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  position: relative;
}

.header-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 100vh;
}

.header-nav {
  margin-top: 0;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 50px;
  font-weight: 700;
  background-color: rgba(102, 74, 203, 0.8);
}

.logo {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 3px;
}

.nav-links {
  font-family: "Bungee", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links li {
  margin-left: 20px;
  letter-spacing: 1.5px;
}

.nav-links li:hover {
  border-bottom: 2px solid black;
  padding-top: 8px;
}

.nav-links li a:focus {
  outline: none;
  color: white;
}

.mobile-menu {
  display: none;
}

.mobile-menu div {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1 {
  padding-top: 40px;
  font-size: 7rem;
  color: white;
  line-height: 0;
  text-shadow: 5px 5px 5px black;
}

h2 {
  letter-spacing: 2px;
  font-style: italic;
  letter-spacing: 3px;
  font-size: 4rem;
  font-weight: 700;
  color: white;
  text-shadow: 3px 3px 5px #664acb;
  padding-bottom: 10px;
}

.header-avatar {
  margin: 0 auto;
  opacity: 0.9;
  width: 250px;
  border-radius: 50%;
  border: 10px outset #664acb;
}

.down-btn {
  font-size: 10rem;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.down-btn:hover {
  opacity: 0.9;
  -webkit-animation: pulse 0.5s infinite;
          animation: pulse 0.5s infinite;
}

.down-btn:focus {
  outline: 1px dashed #664acb;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.about-bkgd {
  margin: 40px 0;
  padding: 40px 0;
  background: url(../assets/Shape21Xb.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.about-container img {
  margin-right: 50px;
  width: 550px;
  height: 550px;
  border-radius: 10% 10% 49% 10% / 0% 29% 54% 0%;
}

.about-container div p {
  padding-bottom: 20px;
}

.about-container div .btn {
  width: 25rem;
}

.content-box {
  border: 2px solid #664acb;
  padding: 50px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 10px 10px rgba(102, 74, 203, 0.5);
          box-shadow: 10px 10px rgba(102, 74, 203, 0.5);
}

.btn {
  text-align: center;
  display: block;
  background-color: rgba(102, 74, 203, 0.9);
  padding: 10px 15px;
  border-radius: 5px;
  margin: 20px auto;
  color: white;
  border: 3px solid rgba(102, 74, 203, 0.9);
  text-align: center;
}

.btn:visited {
  color: white;
}

.btn:focus {
  outline: 1px dashed #664acb;
}

.btn:hover {
  background-color: #664acb;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-color: white;
  outline: 3px solid #664acb;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.skills-bkgd {
  background: url(../assets/bg1X2.png);
  margin: 40px 0;
  padding: 40px 0;
}

.skills-bkgd h3 {
  margin-top: 30px;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-container li {
  -webkit-animation: shake 0.7s linear;
          animation: shake 0.7s linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  margin: 30px;
}

.skills-container li:hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.skills-container li i,
.skills-container li .iconify {
  font-size: 5rem;
}

.skills-container li p {
  padding-top: 10px;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

.projects-bkgd {
  min-height: 90vh;
  background: url(../assets/139991X3.png);
  background-attachment: fixed;
  overflow: hidden;
}

.projects-bkgd div h3 {
  padding-top: 60px;
}

.projects-bkgd .content-box:nth-of-type(odd) {
  -webkit-box-shadow: -10px 10px rgba(102, 74, 203, 0.5);
          box-shadow: -10px 10px rgba(102, 74, 203, 0.5);
}

.projects-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px outset #664acb;
  margin: 40px 20px;
}

.projects-flex img,
.projects-flex div {
  padding: 0 10px;
}

.projects-flex img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
}

.projects-flex div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects-flex p {
  margin-bottom: 15px;
}

.projects-flex p:last-of-type {
  font-weight: bold;
}

.projects-flex a {
  display: inline-block;
  width: 14rem;
}

.code-btn {
  background-color: transparent;
  color: #664acb;
}

.code-btn:visited {
  color: #664acb;
}

.code-btn:hover {
  color: white;
  background-color: rgba(102, 74, 203, 0.9);
}

.contact-bkgd {
  margin: 40px 0;
  padding: 40px 0;
  background: url(../assets/bg1X8.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}

.contact-bkgd img {
  width: 300px;
}

.contact-bkgd div h3 {
  padding-top: 30px;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../assets/heading1X.png);
  background-repeat: no-repeat;
}

.contact-container a:focus {
  outline: 1px dashed #664acb;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12rem 12rem;
      grid-template-columns: 12rem 12rem;
  -ms-grid-rows: 12rem 12rem;
      grid-template-rows: 12rem 12rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.links-circle {
  border-radius: 50%;
  font-size: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: rgba(102, 74, 203, 0.5);
  width: 9rem;
  height: 9rem;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

.links-circle:hover {
  background-color: #664acb;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

.form-container {
  width: 60%;
  margin: 0 30px;
}

.form-container p {
  padding-bottom: 25px;
}

.form-container p:first-of-type {
  text-align: center;
  font-weight: bold;
}

.form-container span {
  font-weight: bold;
  border-bottom: 1px dashed black;
}

.form-container a:hover {
  background-color: rgba(102, 74, 203, 0.4);
}

form {
  color: #664acb;
}

form .btn {
  width: 20rem;
  cursor: pointer;
}

input[type=text],
input[type=email],
textarea {
  padding: 5px 10px;
  caret-color: rgba(102, 74, 203, 0.6);
  margin-bottom: 15px;
  border: 0.7px solid #664acb;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px rgba(102, 74, 203, 0.6);
          box-shadow: 3px 3px rgba(102, 74, 203, 0.6);
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  outline: none;
  background-color: rgba(102, 74, 203, 0.2);
}

footer {
  text-align: center;
  background-color: #664acb;
  color: white;
  font-family: "Bungee", cursive;
  padding: 15px;
}

/* Portrait tablet and small desktops */
@media (max-width: 990px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  .about-container,
  .projects-flex:nth-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-container img {
    width: 60vw;
    height: 60vw;
    margin: 0 auto 30px;
  }
  .projects-flex:nth-of-type(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projects-flex img {
    width: 100%;
  }
  .projects-flex span {
    text-align: center;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  h1 {
    line-height: 65px;
  }
  .header-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo {
    padding-left: 30px;
  }
  .mobile-menu {
    display: block;
    z-index: 10;
    padding-right: 30px;
  }
  .nav-links {
    background-color: rgba(102, 74, 203, 0.9);
    position: fixed;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-links li {
    margin: 20px 0;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 2.5rem;
  }
  .nav-links li:hover {
    border-bottom: none;
    padding: 0;
  }
  .nav-open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .mobile-menu {
    -webkit-transition: all 3s ease-in;
    transition: all 3s ease-in;
  }
  .close .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .close .line2 {
    opacity: 0;
  }
  .close .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  .skills-container {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-flex,
  .form-container {
    width: 100%;
  }
  .content-box {
    padding: 10px;
    text-align: left;
  }
  .form-container {
    margin: 0 auto;
  }
  .form-container p:nth-of-type(3) {
    text-align: center;
  }
}

/* Landscape phones and down */
@media (max-width: 550px) {
  .header-avatar {
    width: 200px;
  }
  .about-container img {
    width: 80vw;
    height: 80vw;
  }
  .projects-flex {
    margin: 30px 5px;
  }
  .contact-bkgd img {
    width: 50%;
  }
  .social-links {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    width: 50%;
  }
  .links-circle {
    width: 7.5rem;
    height: 7.5rem;
  }
}
